html, body {
  margin: 0;
  background: #f2ece9;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

#header {
  height: 44px;
  background: #ed573e; }

#content {
  padding: 20px;
  min-height: 200px;
  background: #faf4f1; }

#footer {
  height: 60px;
  background: #f2ece9;
  border-top: 1px solid #e5dbd6; }
